body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.image-back{
  background: url('../src/Imagenes/skillLogin.png');
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}



.ant-descriptions-view{

  border:solid 2px rgb(3, 3, 62) !important;
}

.ant-descriptions-item-label{

  background: rgb(3, 3, 62) !important;
  color: white !important;
  font-size:18px !important;
}


.ant-descriptions-title{

  font-size: 25px !important;
  text-align: center !important;
  color: rgb(3, 3, 62) !important;
  text-decoration: underline !important;
}



.ant-modal-content{

  text-align: center !important;

}

.ant-modal-footer{
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.ant-table-content{

  width: 100rem !important;
}

th.ant-table-cell{

  background: rgb(3, 3, 62) !important;
  color:white !important;

}
 td.ant-table-cell{

  border: solid 2px rgb(3, 3, 62) !important;
/*   border-bottom-left-radius: 20px !important;
  border-bottom-right-radius: 20px !important; */
}
 

#normal_login_username{

 padding: 0.4rem !important;

} 

.borde{
  border: solid 1px #EFEEFC;
}

.bold-label {
  font-weight: bold !important;
}

.ant-menu-title-content{

  font-weight: 700;
  color:black;

}


.ant-form-item-control-input-content{

  padding: 0.4rem !important;
}

#normal_login_password{

  padding: 0.4rem;
}

.ant-input.css-dev-only-do-not-override-1c54t2r.ant-input-filled{

  background: white !important;
  border: solid 1px #EFEEFC !important;
}

#Phone{

  background: white !important;
  border: solid 1px #EFEEFC !important;  
}

.ant-picker.ant-picker-filled.css-dev-only-do-not-override-1c54t2r{

  background: white !important;
  border: solid 1px #EFEEFC !important;  
}

.ant-input-affix-wrapper.css-dev-only-do-not-override-1c54t2r.ant-input-filled{

  background: white !important;
  border: solid 1px #EFEEFC !important;  

}


#Postcode{

  background: white !important;
  border: solid 1px #EFEEFC !important;  
}

.ant-layout-header.css-dev-only-do-not-override-1c54t2r{
  background: white !important;
}

.ant-menu-overflow.ant-menu.ant-menu-root.ant-menu-horizontal.ant-menu-dark.css-dev-only-do-not-override-1c54t2r{

  background: white !important;
}

.ant-layout.css-dev-only-do-not-override-1c54t2r{

  background: #ffffffb5 !important;
}



 .ant-menu.ant-menu-root.ant-menu-inline.ant-menu-light.css-dev-only-do-not-override-1c54t2r{

  background: linear-gradient(to bottom, white, #effcfc

  );

} 

.ant-col.ant-form-item-label.css-dev-only-do-not-override-1c54t2r{

  margin-left: 0.5rem;
  color:black;
  font-weight: 500;
}

.ant-modal-title{
  margin-bottom: 5% !important;
  font-size: 20px !important;
}


.ant-modal.css-dev-only-do-not-override-1xg9z9n.ant-modal-confirm.ant-modal-confirm-success{


  margin-top: 10%;
width: 25% !important;

}

.ant-modal-confirm-content{

  font-size: 16px !important;
}

.ant-card-body{

  display: none !important;
}


.ant-row.css-dev-only-do-not-override-1c54t2r{

  margin-top:2rem !important;
}


.ant-card-actions{

  border-top: solid 2px white !important;
}


.avatar-upload .ant-upload {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.avatar-upload .ant-upload-drag-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.avatar-upload .ant-upload-drag-container:hover {
  border-color: #1890ff;
}

.avatar-container {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}



.avatar-upload .avatar-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.avatar-upload .avatar-placeholder {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
}

.avatar-upload .avatar-text {
  font-size: 14px;
  color: #999999;
}



.ant-progress-inner{

  display: none !important;
}