body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.image-back{
  background: url('../src/Imagenes/skillLogin.png');
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}



.ant-descriptions-view{

  border:solid 2px rgb(3, 3, 62) !important;
}

.ant-descriptions-item-label{

  background: rgb(3, 3, 62) !important;
  color: white !important;
  font-size:18px !important;
}


.ant-descriptions-title{

  font-size: 25px !important;
  text-align: center !important;
  color: rgb(3, 3, 62) !important;
  text-decoration: underline !important;
}



.ant-modal-content{

  text-align: center !important;

}

.ant-modal-footer{
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.ant-table-content{

  width: 100rem !important;
}

th.ant-table-cell{

  background: rgb(3, 3, 62) !important;
  color:white !important;

}

td.ant-table-cell{

  border: solid 2px rgb(3, 3, 62) !important;
  border-bottom-left-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
}


#normal_login_username{

  width: 24rem !important;

}

.borde{
  border: solid 1px #EFEEFC;
}

.bold-label {
  font-weight: bold !important;
}

.ant-menu-title-content{

  font-weight: 700;
  color:black;

}

