body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.image-back{
  background: url('../src/Imagenes/skillLogin.png');
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}



.ant-descriptions-view{

  border:solid 2px rgb(3, 3, 62) !important;
}

.ant-descriptions-item-label{

  background: rgb(3, 3, 62) !important;
  color: white !important;
  font-size:18px !important;
}


.ant-descriptions-title{

  font-size: 25px !important;
  text-align: center !important;
  color: rgb(3, 3, 62) !important;
  text-decoration: underline !important;
}



.ant-modal-content{

  text-align: center !important;

}

.ant-modal-footer{
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.ant-table-content{

  width: 100rem !important;
}

th.ant-table-cell{

  background: rgb(3, 3, 62) !important;
  color:white !important;

}
 td.ant-table-cell{

  border: solid 2px rgb(3, 3, 62) !important;
/*   border-bottom-left-radius: 20px !important;
  border-bottom-right-radius: 20px !important; */
}
 

#normal_login_username{

 padding: 0.4rem !important;

} 

.borde{
  border: solid 1px #EFEEFC;
}

.bold-label {
  font-weight: bold !important;
}

.ant-menu-title-content{

  font-weight: 700;
  color:black;

}


.ant-form-item-control-input-content{

  padding: 0.4rem !important;
}

#normal_login_password{

  padding: 0.4rem;
}

.ant-input.css-dev-only-do-not-override-1c54t2r.ant-input-filled{

  background: white !important;
  border: solid 1px #EFEEFC !important;
}

#Phone{

  background: white !important;
  border: solid 1px #EFEEFC !important;  
}

.ant-picker.ant-picker-filled.css-dev-only-do-not-override-1c54t2r{

  background: white !important;
  border: solid 1px #EFEEFC !important;  
}

.ant-input-affix-wrapper.css-dev-only-do-not-override-1c54t2r.ant-input-filled{

  background: white !important;
  border: solid 1px #EFEEFC !important;  

}


#Postcode{

  background: white !important;
  border: solid 1px #EFEEFC !important;  
}

.ant-layout-header.css-dev-only-do-not-override-1c54t2r{
  background: white !important;
}

.ant-menu-overflow.ant-menu.ant-menu-root.ant-menu-horizontal.ant-menu-dark.css-dev-only-do-not-override-1c54t2r{

  background: white !important;
}

.ant-layout.css-dev-only-do-not-override-1c54t2r{

  background: #ffffffb5 !important;
}



 .ant-menu.ant-menu-root.ant-menu-inline.ant-menu-light.css-dev-only-do-not-override-1c54t2r{

  background: linear-gradient(to bottom, white, #effcfc

  );

} 


.pruebita
{

  background: #98d4ca !important;

  padding: 12px !important;
  border: solid 1px #98d4ca !important;
  border-radius: 10px !important;
  margin-top: 1rem !important;

} 

.ant-progress-text
{

display: none !important;
  
  } 

.ant-input.css-dev-only-do-not-override-sk1n6.ant-input-outlined
{

padding: 0.8rem;
border: solid 1px #DBD8FC;
border-radius: 10px;


} 








.ant-btn.css-dev-only-do-not-override-sk1n6.ant-btn-default.ant-btn-icon-only.ant-input-search-button
{

  display: none;

} 

.ant-col.ant-form-item-label.css-dev-only-do-not-override-1c54t2r{

  margin-left: 0.5rem;
  color:black;
  font-weight: 500;
}

.ant-modal-title{
  margin-bottom: 5% !important;
  font-size: 20px !important;
}


.ant-modal.css-dev-only-do-not-override-1xg9z9n.ant-modal-confirm.ant-modal-confirm-success{


  margin-top: 10%;
width: 25% !important;

}

.ant-modal-confirm-content{

  font-size: 16px !important;
}

.ant-card-body{

  display: none !important;
}


.ant-row.css-dev-only-do-not-override-1c54t2r{

  margin-top:2rem !important;
}


.ant-card-actions{

  border-top: solid 2px white !important;
}


.avatar-upload .ant-upload {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.avatar-upload .ant-upload-drag-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.avatar-upload .ant-upload-drag-container:hover {
  border-color: #1890ff;
}

.avatar-container {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}



.avatar-upload .avatar-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.avatar-upload .avatar-placeholder {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
}

.avatar-upload .avatar-text {
  font-size: 14px;
  color: #999999;
}



.ant-progress-inner{

  display: none !important;
}

/* 
.ant-row.css-dev-only-do-not-override-sk1n6{



  margin-top: 2rem !important;
} */


.ant-tooltip-inner {
  background-color: white !important; 
  color: black !important;
}

:where(.css-dev-only-do-not-override-sk1n6).ant-card .ant-card-actions>li
{
margin:0px !important;
}


.ant-row.css-dev-only-do-not-override-1rqg8tf{

  margin-top: 1rem;
}

.ant-input.css-dev-only-do-not-override-1rqg8tf.ant-input-outlined{

  padding: 1rem;
}


.ant-btn.css-dev-only-do-not-override-1rqg8tf.ant-btn-default.ant-btn-icon-only.ant-input-search-button{

  display: none;
}



:where(.css-dev-only-do-not-override-1rqg8tf).ant-card .ant-card-actions>li{

  margin: 0px !important;
}


:where(.css-dev-only-do-not-override-1rqg8tf).ant-col-8{

  flex: 0 !important;
 
}

.text-user{

  background: #ffffffb5;
  border-radius: 20px;
  padding: 1rem;
  margin-top: 1rem;
   
   
}


.text-user-box{

margin-left: 2rem;
margin-bottom: 2rem;
   
   
}

:where(.css-dev-only-do-not-override-1rqg8tf).ant-typography{

 word-break: normal !important;
}



/* :where(.css-dev-only-do-not-override-sk1n6).ant-col-8{

  flex:0!important;
} */


.ant-col.ant-col-22.css-dev-only-do-not-override-sk1n6{

  background: linear-gradient(to bottom, white, rgb(88 194 192 / 24%));
}


.ant-col.ant-col-2.css-dev-only-do-not-override-sk1n6{

  background: linear-gradient(to bottom, white, rgb(88 194 192 / 24%));


}


.menu-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.menu-items .item {
  margin-right: 20px;
}

@media (max-width: 768px) {
  .menu-items {
    flex-wrap: wrap;
    justify-content: center;
  }

  .menu-items .item {
    margin-right: 10px;
    margin-bottom: 10px;
  }
}

@media (max-width: 480px) {
  .menu-items {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu-items .item {
    margin-right: 0;
    margin-bottom: 10px;
  }
}





.probandoMobile2{


  margin: 1em;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 97.3%;
  background: transparent;




}





@media (max-width: 500px) {


:where(.css-dev-only-do-not-override-sk1n6).ant-layout.ant-layout-has-sider{

  flex-direction: column;
}

:where(.css-dev-only-do-not-override-sk1n6).ant-layout.ant-layout-has-sider >.ant-layout, :where(.css-dev-only-do-not-override-sk1n6).ant-layout.ant-layout-has-sider >.ant-layout-content{

  width: 100% !important;
}

:where(.css-dev-only-do-not-override-sk1n6).ant-layout-header{

  line-height: 20px !important;
}

.imagen_Buscar{

  display: none !important;
}

.name_responsive{

  font-size: 20px !important;
  width: 20rem !important;
}

.card_skill_responsive{

  margin-top: 5rem !important;
}

.boton_skill{

  display: none;} 
  
 .circle_upload_responsive{
  
    display: none ;
  } 
  
  .imagenLogoResponsive{
  
    width: 7rem;
   
  
  }
  

  .card_add_responsive{

    width: 10rem !important;
  }
  



}



@media (max-width: 1400px) {
  .probandoMobile2 {
  font-size: 10px !important;
  min-height: 3%;
  width: 80%;

  }

.imagenLogoResponsive{

  width: 3rem;
  margin-left: -3rem;

}

.ant-layout-sider.ant-layout-sider-dark{

  flex: 0 !important;
  min-width: 200px !important;
}

/*  .caja_verde_responsive{

  width: 25rem !important;
}  */

:where(.css-dev-only-do-not-override-sk1n6).ant-layout-header{

  line-height: 20px !important;
}

.name_skills{

  font-size: 15px !important;
  display: none;
}



.name_responsive{

  font-size: 20px !important;
  width: 20rem !important;
}

.class_responsive{

  width: 100% !important;
  font-size: 10px !important;
}

.card_add_responsive{

  font-size: 10px !important;
  width: 50rem !important;
}

.ant-card.ant-card-bordered.class_responsive.css-dev-only-do-not-override-sk1n6{


  width: 100% !important;
}



}


.ant-select-selector{


display: none !important; }


:where(.css-dev-only-do-not-override-sk1n6).ant-pagination .ant-pagination-item-active
{

border: solid 0px white !important;
  border-color:white !important; }
  
  :where(.css-dev-only-do-not-override-sk1n6).ant-pagination .ant-pagination-item-active a{

color: #4bedfd !important;
font-size: 1.5rem; 
background-color: transparent !important;}
:where(.css-dev-only-do-not-override-sk1n6).ant-pagination .ant-pagination-item a{

  color: #bababac7;
  font-size: 1.5rem; }


.anticon.anticon-right{

display: none ; }

:where(.css-dev-only-do-not-override-sk1n6).ant-pagination .ant-pagination-item-active {
  font-weight: 600;
  background-color: #ffffff00 !important;
  border-color: #1677ff;
}
  










